/******************************************************************************
*                                 RESPONSIVE                                  *
******************************************************************************/
@media screen and (max-width: 1030px) {
    header .filters {
        flex-wrap: wrap;
        margin: 0 10px 0 10px;
    }

    header .filters ul {
        flex-wrap: wrap;
        padding: 0;
    }

    header .filters ul > li {
        margin-top: 5px;
    }
}


/******************************************************************************
*                                 FILTER                                      *
******************************************************************************/
.filters {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

.filters h3 {
    font-size: 0.9em;
}

.list {
    display: flex;
    list-style: none;
    margin: 0;
}

.element-list {
    height: 38px;
    display: flex;
    margin-right: 30px;
    border-radius: 25px;
    border: rgb(217,217,217) solid 2px;
    align-items: center
}

.text-list {
    padding: 10px 15px 10px 5px;
}

.icon-list {
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 11px;
    height: 20px;
    width: 20px;
    position: relative;
    right: 5px;
    display: block;
    vertical-align: central;
    text-align: center;
}

.filters ul li:hover {
    background-color: #0065FC;
    color: white;
}
